@model             Mission08_Group13.Models.Task

<!--Shared view for the quadrants page. Adds the tasks to the quadrants with edit and delete buttons,
    as well as a mark complete checkmark
-->
<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.TaskName</h5>
        <p class="card-text">Due Date: @Model.DueDate?.ToString("MM/dd/yyyy")</p>
        <p class="card-text">Category: @Model.Category.CategoryName</p> 
        
            <label class="form-check-label" for="complete-@Model.TaskId">Mark Complete</label>
            <input type="checkbox" class="form-check-input mark-complete" id="complete-@Model.TaskId" data-task-id="@Model.TaskId" @(Model.IsComplete ? "checked disabled" : "") />
        
    </div>
</div>