@model             Mission08_Group13.Models.Task

<div class="card mb-3">
    <div class="card-body">
        <h5 class="card-title">@Model.TaskName</h5>
        <p class="card-text">Due Date: @Model.DueDate?.ToString("MM/dd/yyyy")</p>
        <p class="card-text">Category: @Model.Category</p> 

        <a asp-controller="Home" asp-action="EditTask" asp-route-id="@Model.TaskId" class="btn btn-warning">Edit</a>
        <a asp-controller="Home" asp-action="DeleteTask" asp-route-id="@Model.TaskId" class="btn btn-danger">Delete</a>
    </div>
</div>